.CSSTransition-IntroPage-Popup-enter {
  opacity: 0;
  transform: translateY(100%);
}

.CSSTransition-IntroPage-Popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-out;
}

.CSSTransition-Tutorial-Popup-enter {
  opacity: 0;
}
.CSSTransition-Tutorial-Popup-enter-active {
  opacity: 1;
  transition: all 1s ease-in-out;
}
.CSSTransition-Tutorial-Popup-exit {
  opacity: 0;
}
.CSSTransition-Tutorial-Popup-exit-active {
  opacity: 0;
}

.CSSTransition-IntroPage-GreyPopup-enter {
  opacity: 0;
  transform: translateY(-20%);
}
.CSSTransition-IntroPage-GreyPopup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-out;
}
