#NavBarButtons-Animation {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  z-index: 3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#NavBarButtons-Animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

#NavBarButtons-Animation:hover::before {
  opacity: 1;
  height: 100%;
  width: 120%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}

#NavBarButtons-Animation:hover {
  opacity: 1;
}
/* ///////////////// */

#StarButton {
  position: relative;
  /* padding: 12px 35px; */
  /* background: #fec195; */
  font-size: 17px;
  font-weight: 500;
  /* color: #181818; */
  /* border: 3px solid #fec195; */
  border-radius: 8px;
  /* box-shadow: 0 0 0 #fec1958c; */
  transition: all 0.3s ease-in-out;
}

#StarButton:hover {
  background: transparent;
  /* color: #fec195; */
  /* box-shadow: 0 0 25px #fec1958c; */
}

.star-1 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-2 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

#StarButton:hover .star-1 {
  position: absolute;
  top: 90%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-2 {
  position: absolute;
  top: -35%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-3 {
  position: absolute;
  top: -25%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-4 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 105%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
