#NavBarButtons-Animation {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  z-index: 3;
}

#NavBarButtons-Animation::before,
#NavBarButtons-Animation::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(94, 94, 94);
  transform: scaleX(0);
  transition: transform 0.25s;
}

#NavBarButtons-Animation::before {
  top: -3px;
  transform-origin: left;
}
#NavBarButtons-Animation::after {
  bottom: -3px;
  transform-origin: right;
}

#NavBarButtons-Animation:hover::before,
#NavBarButtons-Animation:hover::after {
  transform: scaleX(1);
}

/* ///////////////// */

#StarButton {
  position: relative;
  /* padding: 12px 35px; */
  /* background: #fec195; */
  font-size: 17px;
  font-weight: 500;
  /* color: #181818; */
  /* border: 3px solid #fec195; */
  border-radius: 8px;
  /* box-shadow: 0 0 0 #fec1958c; */
  transition: all 0.3s ease-in-out;
}

#StarButton:hover {
  background: transparent;
  /* color: #fec195; */
  /* box-shadow: 0 0 25px #fec1958c; */
}

.star-1 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-2 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

#StarButton:hover .star-1 {
  position: absolute;
  top: 90%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-2 {
  position: absolute;
  top: -35%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-3 {
  position: absolute;
  top: -25%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-4 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 105%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#StarButton:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
