.swal2-confirm {
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color: rgba(215, 215, 215, 1);
  color: white;
}

.swal2-confirm:hover {
  background-color: rgba(175, 175, 175, 1);
}
