@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes glowing {
    0% {
      box-shadow: 0 0 6px 1px #fff, 0 0 12px 1px #fff, 0 0 15px 2px #4361ff,
        0 0 20px 2px #4361ff;
    }
    50% {
      box-shadow: 0 0 6px 2px #fff, 0 0 12px 2px #fff, 0 0 15px 5px #4361ff,
        0 0 20px 5px #4361ff;
    }
    100% {
      box-shadow: 0 0 6px 1px #fff, 0 0 12px 1px #fff, 0 0 15px 2px #4361ff,
        0 0 20px 2px #4361ff;
    }
  }

  .glowmyrank {
    animation: glowing 1s infinite;
  }

  @keyframes gameglowing {
    0% {
      box-shadow: 0 0 6px 1px #fff, 0 0 12px 1px #FFD8D6, 0 0 15px 2px #FF8984,
        0 0 20px 2px #FF4D45;
    }
    50% {
      box-shadow: 0 0 6px 2px #fff, 0 0 12px 2px #FFD8D6, 0 0 15px 5px #FF8984,
        0 0 20px 5px #FF4D45;
    }
    100% {
      box-shadow: 0 0 6px 1px #fff, 0 0 12px 1px #FFD8D6, 0 0 15px 2px #FF8984,
        0 0 20px 2px #FF4D45;
    }
  }

  .gameglowing {
    animation: gameglowing 1s infinite;
  }
}
